* {
	margin: 0;
	padding: 0;
}

.badge {
	margin-left: 3px;
}

.navbar-red {
	background-color: #b01116;
	color: #fff;
}
.navbar-red .navbar-brand {
	color: #fff;
}
.navbar-red .navbar-nav > li > a {
	color: #fff;
}
.navbar-red .navbar-nav > li > a:hover,
.navbar-red .navbar-nav > li > a:focus {
	background-color: #ee1c25;
	color: #fff;
}
.box {
	margin-top: 80px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #fff	;
	border-radius: 5px;
}
body {
	background-color: #f8f9fe;
}
/* img {
	width: 70px;
	margin-right: 10px;
} */
.foto{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.profile-header {
	background-color: #C58200;
	padding: 24px;
	text-align: center;
	margin-top: 50px;
}

/* Header Login */
.login-btn{
	background: #badc58;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
}
.login-btn:hover{
	cursor: pointer;
	background: #46de4b;
}

/* html,body {
	margin:0;
	padding:0;
	height:100%;
}
.content {
	padding:10px;
	padding-bottom:80px;
} */
/* .footerbar {
	width:100%;
	height:80px;
	position: relative;
	bottom:0;
	left:0;
	flex-shrink: 0;
} */


/* Login Screen */
.social-media-icon{
	padding-right: 20px;
	font-size: 20px;
	cursor: pointer;
}
.twitter-icon:hover{
	color: #00aced;
}

.facebook-icon:hover{
	color: #3b5998;
}

.instagram-icon:hover{
	color: #517fa4;
}

.login-img{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	margin-left: 5%;
	margin-right: 10%;
}

/* Navbar */
.navbar{
	
}

.active{
	background: #f6f9fc;
	color: black !important;
}
.toast{
	z-index: 999999;
	color:white;
}

.toast-icon{
	font-size: 40px;
}

.toast-header{
	border: none;
	z-index:11;
}

._toast-body{
	margin-top: -45px;
	min-width: 300px;
	z-index:10;
}

.toast-default > div{
	background-color: #0087d7;
}

.toast-success > div{
	background-color: #41d888 !important;
}

.toast-error > div{
	background-color: #f94416 !important;
}

/* Sidebar */
#sidebar {
	padding: 0 !important;
	max-width: 250px;
    height: 100vh;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	background-color: #fff!important;
	z-index: 100;
    transition: all .4s ease;
    display: block;
}

.sidebar-wrapper > .nav > .nav-item > .nav-link{
	color: rgba(0,0,0,.6);
}

.sidebar-header{
	padding-top:15px !important;
	padding-bottom: 15px !important;
    height: 78px;
    text-align: center;
}

.navbar-vertical{
    padding-top: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
}


/* Navbar Top */
#_header-navbar{
	background-color: #097119 !important;
	border-color: rgba(255,255,255,.08)!important;
	border-bottom: 1px solid #e9ecef!important;
	border-color: rgba(255,255,255,.08)!important;
    border-top-color: rgba(255, 255, 255, 0.08) !important;
    border-right-color: rgba(255, 255, 255, 0.08) !important;
    border-bottom-color: rgba(255, 255, 255, 0.08) !important;
    border-left-color: rgba(255, 255, 255, 0.08) !important;
}

#_header-navbar > .nav > .nav-item > .nav-link{
    color: rgba(255,255,255,.95);
}


/* Page title */
.page-title-container{	
	background-color: #097119 !important;
}

.page-title{
	padding-top: 24px;
	padding-bottom: 24px;
}

.page-title-container > .container-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* Pages content */
.main-content{
	margin-left: 250px;
}

.main-content > #_header-navbar{
	padding-bottom: 15px !important;
	padding-top: 15px !important;
	padding-right: 30px!important;
    padding-left: 30px!important;
}

.page-content{
	padding-right: 30px!important;
    padding-left: 30px!important;
}

.padding-bottom-45{
	padding-bottom: 4.5rem !important;
}
.margin-top--45{
	margin-top: -4.5rem !important;
}

/* Card */
.card-container{
	margin-bottom: 30px;
    border: 0;
	box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
}

.card-header{
	margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #fff;
}

.form-divide-title{
    color: #8898aa!important;
    text-transform: uppercase;
    font-size: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
}

.dashboard-icon{
	color: #fff!important;
	display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%!important;
	background: linear-gradient(87deg,#f5365c 0,#f56036 100%)!important;
}

.card-stats{
	margin-bottom: 30px;
}